.OrderForm {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 380px;
  max-width: 380px;

  width: 100%;
  background-color: #86D3F4;
  height: 720px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 72px;
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

.number {
  margin-top: 13px;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
}

.help {
  margin-top: 13px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 300px;
}

.buttonsBlock {
  min-width: 300px;
  min-height: 248px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "btn_1 btn_2 btn_3"
    "btn_4 btn_5 btn_6"
    "btn_7 btn_8 btn_9"
    "btn_clear btn_clear btn_0";
  gap: 10px;
  margin-top: 33px;
}

.confirmBlock {
  margin-top: 33px;
  width: 284px;

  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #565656;
}

.submitBlock {
  margin-top: 13px;
}
