.OrderFormConfirmButton {
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.isActive {
  color: #fff !important;
  background-color: #000 !important;
}
